@font-face {
    font-family: titleFont;
    src: url('fonts/CINZEL-REGULAR.OTF');
}

@font-face {
    font-family: navFont;
    src: url('fonts/CINZEL-REGULAR.OTF');
}


html {
    background-color: rgb(12,32,56);
    color: rgb(196,203,209);
    text-align: center;
    align-content: center;
    font-family: 'Molengo', sans-serif;
}

a {
    color: rgb(196,203,209);
    text-decoration: none;
}

b {
    text-decoration: underline;
}

table {
    margin: 0px auto;
    text-align: left;
}

td {
    padding: 5px;
}

a:hover {
    color: rgb(255,204,4)
}

.key {
    text-decoration:underline;
    font-size: 14pt;
}

.nav-button {
    font-size: 16pt;
    padding: 15px;
    font-family: navFont;
}

#main-content {
    height:200px;
    width: 100%;
    position: absolute;
    top:30%;
}


#title {
    font-family: titleFont;
    text-align: center;
    letter-spacing: 10px;
}

.standout-link {
    color: rgb(255,36,207)
}

#upload-link:hover {
    color: rgb(255,204,4)
}