body {
    background-color: rgb(12,32,56);
    color: rgb(196,203,209);
    text-align: center;
    align-content: center;
    font-family: sans-serif;
}

.button {
    display: block;
    width: 160px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 40px;
    font-size: 20pt;
    background-color: rgb(201,20,59);
    border: 1pt solid;
    border-radius:2px;
}

a {
    color: rgb(196,203,209);
    text-decoration: none;
}

a:hover {
    color: rgb(255,204,4)
}

#title {
    font-family: serif;
    text-align: center;
}