body {
    background-color: rgb(12,32,56);
    color: rgb(196,203,209);
    text-align: center;
    align-content: center;
    font-family: sans-serif;
}

a {
    color: rgb(196,203,209);
    text-decoration: none;
}

a:hover {
    color: rgb(255,204,4)
}

#title {
    font-family: serif;
    text-align: center;
}